<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BurakMarineDb" connectionString="Server=localhost\SQLEXPRESS;Database=BurakMarineDB;Trusted_Connection=True;" />
	</connectionStrings>

	<appSettings>
		<add key="Host" value="mail.alburakmarine.com"/>
		<add key="Port" value="587"/>
		<add key="Email" value="tech@alburakmarine.com"/>
		<add key="Password" value="92702689A.a"/>
		<add key="AppPassword" value="1234"/>
	</appSettings>
	
</configuration>